*.html
*.o
*.so
*.pyc
*.log
*.egg
*.egg-info
*~
*.npy

.git/
.svn/
.spyderproject
build

*
!LICENSE
!README.rst
!HOWTO.rst
!__init__.py
!setup.py
!config
!d3po.py
!demo_config
!demo.py
!demo_kernel.txt
!demo_events.txt
!demo_exposure.txt
!demo_mask.txt